doctype html
html
    head
        title= 'Piggah Bro\'s | '+ title
        
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/x-icon" href="favicon.ico")
        
        link(rel='stylesheet', href='/css/gaming.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/ionicons.min.css')
    body
        header(style="width: calc(100% - 250px);margin: 0;top:0;")
            h2 Piggah Bro's
            | #{title}
            main(style="font-size: 0.6em; min-width: calc(100% - 400px); width: 65%; padding: 0; margin: auto;")
                section
                    columns
                        column
                            a(href="/") Home
                        column
                            a(href="/forums") Forums
                        column
                            a(href="http://steamcommunity.com/groups/piggahbrostudios" target="_BLANK") Steam Group
                        if user
                            column
                                a(href="https://account." + url + "/logout" target="_BLANK") Logout
                        else
                            column
                                a(href="https://account." + url + "/signin" target="_BLANK") Login / Signup
        side
            discord
                title Discord
                members
                    b#om
                    | &nbsp;Members Online
                span Join Us
                    a(href="https://discord.gg/A2db8se" target="_BLANK") Connect!
            if user
                member
                    name= 'Welcome, '+(user.nickname || user.name_first)+'!'
                    joined(style="margin-bottom:1em;")= 'Joined on '+user.joined
                    posts(style="margin-bottom:1em;")= 'Posts: ' + 0
                    settings
                        a(href="https://account." + url target="_BLANK") Account Settings
            else
                member(style="text-align: center;")
                    b Join the community Today!
                    br
                    br
                    joined It's easy! Just click "Sign Up" and use a social login to continue!
        topics
            if user && user.privilege > 8
                admin 
                    b Admin Panel
                    a(onclick="return false;") New Topic
        - var suser = user || {}; delete suser.password; delete suser.google_id; delete suser.facebook_id; delete suser.twitter_id; delete suser.steam_id;
        - suser = JSON.stringify(suser);
        script.
            var forums = !{forums};
            var user = !{suser};
        script(src="/js/forum.js")