doctype html
html
    head
        title= 'Piggah Bro Studios | '+ title
        
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/x-icon" href="favicon.ico")
        
        link(rel='stylesheet', href='/css/gaming.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/ionicons.min.css')
    body
        header(style="width: calc(100% - 250px);margin: 0;top:0")
            h2 Piggah Bro Studios
            | #{title}
            main(style="font-size: 0.6em; min-width: 600px; width: 65%; padding: 0; margin: auto;")
                section
                    columns
                        column
                            a(href="/") Home
                        column
                            a(href="/forums") Forums
                        column
                            a(href="http://steamcommunity.com/groups/piggahbrostudios" target="_BLANK") Steam Group
                        column
                            a(href="https://discord.gg/A2db8se" target="_BLANK") Discord
                        if user
                            column
                                a(href="https://account." + url + "/logout" target="_BLANK") Logout
                        else
                            column
                                a(href="https://account." + url + "/signin" target="_BLANK") Login / Signup
        side
            discord
                title Discord
                members
                    b#om
                    | &nbsp;Members Online
                span Join Us
                    a(href="https://discord.gg/A2db8se" target="_BLANK") Connect!
            if user
                member
                    name= 'Welcome, '+user.name_first+'!'
                    joined(style="margin-bottom:1em;")= 'Joined on '+user.joined
                    posts
                    settings
                        a(href="https://account." + url target="_BLANK")
            else
                member(style="text-align: center;")
                    b Join the community Today!
                    br
                    br
                    joined It's easy! Just click "Sign Up" and use a social login to continue!
        topics
            script.
                var forums = !{forums};
            script(src="/js/forum.js")